.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.input:focus {
  outline: none;
  border-color: var(--color-salmon);
  box-shadow: 0 0 0 4px rgba(250,128,114,0.08);
}