.questionario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-salmon-light);
}

.progress {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.bar {
  height: 100%;
  background-color: var(--color-salmon);
  border-radius: 5px;
  transition: width 0.3s;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}